@import "variableSetup.scss";

.App-logo {
  height: 50px;
  pointer-events: none;
  position:fixed;
  top:85vh;
  left:90vw;;
}

.App {
  text-align: center;
 // background-image:url($image);
  background-color: #111316;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
   border:solid 10px $green;
  box-sizing: border-box;
}
.App-header h1 {
  letter-spacing: .25em;
}
.App-header p{
  letter-spacing: .25em;
}

