//colors
$green:rgb(0, 255, 85);
$greenDark:rgb(23, 173, 13);
$greenLight:rgb(99, 243, 119);
$aqua:rgb(0, 255, 234);
$backGround:#111316;
$white:white;

//fonts


//images
$image:'./components/images/background/proj-api.jpg'