//colors
$green:rgb(0, 255, 85);
$greenDark:rgb(23, 173, 13);
$greenLight:rgb(99, 243, 119);
$aqua:rgb(0, 255, 234);
$backGround:#111316;
$white:white;
$red:rgb(216, 58, 58);
$yellow:rgb(238, 238, 36);
$purple:rgb(204, 52, 204);
$redOverlay:rgb(117, 14, 14);
$yellowOverlay:rgb(129, 129, 16);
$purpleOverlay:rgb(102, 19, 102);

//fonts


//images
$image:'./components/images/background/proj-api.jpg'