@import "../../variableSetup.scss";
 li{
   padding-left:5%;
   padding-right:5%;
   padding-bottom:5px;
   display: inline;
 }

 //IE and Edge have odd border/lack of border showing, fix bug later
li:nth-of-type(2n+1):hover{
   cursor: pointer;
   border-bottom:solid 4px;//gets color from state

}
 .top-nav{
   position: absolute;
   top:0;
   left:0;
   width:100vw;
 }

ul{
  margin-left:auto;
  width:100%;
  text-align: center;
}

@media screen and (max-width:1250px){
  li{
    font-size:.75em;
  }

}

@media screen and (max-width:600px)and(orientation:portrait){
  li{
    padding-left:1%;
    padding-right:1%;
    font-size:.75em;
  }
 
}

@media screen and (max-width:900px)and(orientation:landscape){
  li{
    padding-left:2%;
    padding-right:2%;
    font-size:.75em;
  }
 
 
}