@import "../../variableSetup.scss";
 li{
   display: inline;
   padding-left:5%;
   padding-right:5%;

 }
 .top-nav{
   background: blue;;
   position:absolute;
   top:0;
   left:0;
   width:100vw;

 }